# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules 
.sass-cache
.netbeans.xml
nbproject
composer.lock
/composer/
/admin/includes/lib
/public/includes/lib