.entry-header {
	&.jumbotron {
		padding:20px !important;
	}
	h1, h2 {
		margin:0px;
	}
}
.panel {
	.panel-content {
		padding: 10px 15px;
	}
}
.form-group {
	min-height:34px;
	select.form-control {
		width:32%;
		float:left;
		margin-right:1%;
	}
}
.comment-form-tweet {
	.twitter-share-button {
		float: right;
		margin-top: -27px;
		margin-right: 6px;
		z-index: 99999;
		position: relative !important;
	}
}