.entry-header {
	&.jumbotron {
		padding:20px !important;
	}
	h1, h2 {
		margin:0px;
	}
}
.panel {
	.panel-content {
		padding: 10px 15px;
	}
}
.form-group {
	min-height:34px;
	select.form-control {
		width:19%;
		float:left;
		margin-right:1%;
		padding-left:6px;
		padding-right:6px;
	}
	.search-form-button {
		float: right;
	}
}
.comment-form-tweet {
	.twitter-share-button {
		float: right;
		margin-top: -27px;
		margin-right: 6px;
		z-index: 99999;
		position: relative !important;
	}
}
.dt-buttons .btn .fa {
	margin-right: 4px;
	&.animate {
		animation: spin .7s infinite linear;
		-webkit-animation: spin2 .7s infinite linear;
	}
}
.dt-buttons .dt-refresh-hide {
	display: none;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}